@charset "UTF-8";

.header {
    background-color: #262b2b;
    margin: -16px -7.7px 0;
    padding: 20px;
    color: white;
}

.address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: thin solid white;
    padding-bottom: 10px;
}

.address i {
    margin-right: 10px;
}

.contact {
    display: flex;
    gap: 5px;
}

.contact a {
    color: white;
}

.contact a:hover {
    color: #e58d3a;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: thin solid white;
    padding: 20px 0;
}

.logo img {
    height: 129px;
}

.search-form {
    display: flex;
    gap: 10px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.search-form input {
    width: 400px;
    padding: 5px;
    border: none;
}

.search-form button {
    background-color: #e58d3a;
    color: white;
    border: none;
    padding: 5px 10px;
}

.search-form button:hover {
    background-color: #c76f2f;
}

nav.section{
    background-color: #262b2b;
    margin: -15.5px -7.7px;
}
nav.section ul li a{
    text-decoration: none;
    color: white;
    clear: both;
}
nav.section ul li{
    float: left;
    width: 17%;
    height: 40px;
    background-color: #262b2b;
    text-align: center;
    line-height: 60px;
    list-style: none;

}
nav.section ul{
    margin-left: 20%;
    height: 60px;
}
nav.section ul li a:hover{
    text-decoration: underline;
    color: #e58d3a;
    font-weight: bold;
    -webkit-transition: color 0.5s linear;  
}
article img{
    float: left;
    margin: 40px auto auto 30px ;
}
article ul li{
    list-style: none;
}
footer{
    background-color: #262b2b;
    float: inline-start;
    height: 350px;
    clear: both;
    width: 100%;
}
div.ttlh{
    width: 25%;
    float: left;
}
div.ttlh p{
    margin-left: 5px;
}
footer p{
    font-size: x-large;
    font-weight: bold;
    color: white;
}
footer i{
    float: left;
    margin-right: 4px;
}
footer ul li a{
    text-decoration: none;
    color: white;
    font-size: large;
}
footer ul li {
    list-style: none;
    margin-bottom: 20px;
}
footer ul li a:hover{
    text-decoration: underline;
}
div.lk{
    width: 25%;
    float: left;
}
div.lk p{
    margin-left: 35px;
}
div.ht{
    width: 25%;
    float: left;
}
div.ht p{
    margin-left: 38px;
} 
div.tudt{
    width: 25%;
    float: left;
}
div.tudt li a i{
    margin-right: 40px;
}
body#trang-chu .trang-chu, body#chitietgoitap .chitietgoitap, body#dangkyloptap .dangkyloptap, body#giaodich .giaodich, body#goitap .goitap, body#lichtap .lichtap, body#thietbi .thietbi, body#khachhang .khachhang, body#nhanvien .nhanvien{
    text-decoration: underline;
    color: #e58d3a;
    font-weight: bold;
}
nav.nav-left{
    float: left;
    width: 20%;
}
section.section{
    float: right;
    width: 80%;
}
.back-home {
    margin: 60px 40px 40px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
}

.back-home a {
    text-decoration: none;
    font-size: x-large;
    color: rgb(136, 196, 196);
    margin-right: 20px;
    transition: color 0.3s ease; 
}

.back-home a:hover {
    color: rgb(68, 138, 138); 
}

.back-home h1 {
    display: inline; 
}

div.more-if{
    clear: both;
    background-color: #e9f5f5;
}
div.more-if p{
    margin: auto 8rem auto;
}
h3{
    text-align: center;
}
.navbar {
			position: sticky;
            display: flex;
            justify-content: center;
            overflow: hidden;
            background-color: #262b2b;
            margin: 0 -8px 0 -8px;
        }
        .navbar a {
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }
        .navbar a:hover {
    background-color: #ddd;
    color: black;
    transform: scale(1.1); 
    transition: all 0.3s ease; 
}
        .customer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.customer-card {
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
}

.customer-name {
    margin-bottom: 10px;
}

.customer-info span {
    font-weight: bold;
}
.employee-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.employee-card {
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
}

.employee-name {
    margin-bottom: 10px;
}

.employee-info span {
    font-weight: bold;
}
.transaction-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.transaction-card {
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
}

.customer-name {
    margin-bottom: 10px;
}

.transaction-info span {
    font-weight: bold;
}
.registration-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.registration-card {
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
}

.customer-name {
    margin-bottom: 10px;
}

.class-info span {
    font-weight: bold;
}
.package-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.package-card {
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
}

.customer-name {
    margin-bottom: 10px;
}

.package-info span {
    font-weight: bold;
}
.equipment-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.equipment-card {
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
}

.equipment-name {
    margin-bottom: 10px;
}

.equipment-img {
    width: 100%;
    height: auto;
}

.equipment-info span {
    font-weight: bold;
}
.schedule-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.schedule-card {
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
}

.class-name {
    margin-bottom: 10px;
}

.class-img {
    width: 100%;
    height: auto;
}

.class-info span {
    font-weight: bold;
}
.package-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.package-card {
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
}

.package-name {
    margin-bottom: 10px;
}

.package-img {
    width: 100%;
    height: auto;
}

.package-description {
    margin-bottom: 10px;
}

.package-price span {
    font-weight: bold;
}
